*{
  margin: 0;
  padding: 0;
}

body{
    
    background-color: white;
}


.sign{
    background-color: black;
    color: white;
    border-radius: 10px;

}

.sign:hover{
    background-color: white;
    color: black;
}


.explore button{
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: larger;
}

.explore button:hover{
    background-color: white;
    color: black;
}

.text h1 {
    text-align: center;
    color: black;
    margin-top: 2%;
}

.text p{
    text-align: center;
    color:black;
    font-size: large;
}

.navigation a{
    font-size: large;
    font-weight: 500;
    color: white;
}

.navigation a:hover{
    color:black;
    background-color: white;
    padding: 6px;
    border-radius: 10px;
    
}

